@import url("./header.css");
@import url("./search-bar.css");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  transform: scale(1.5); /* Aumenta um pouco o tamanho ao passar o mouse */
}

body {
  background-image: url("/assets/bg-pokemon.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  backdrop-filter: blur(10px); /* Aplica o efeito de blur */
  z-index: -1; /* Coloca o overlay atrás do conteúdo */
  /* background-color: #dc0a2d; */
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
